
# Go build
/bin/
/build/
/dist/
/out/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Módulos/dep cache
vendor/
.go-build/
*.sum.rej

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Code coverage profiles and other test artifacts
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
